.idea
crazyflies.yaml
aimotion_crazypack/launch/crazyflies.yaml
*.pyc
urdf
figures
video
aimotion_crazypack/scripts/csv/*
# !aimotion_crazypack/scripts/csv/optitrack.csv
log
__pycache__
.*
simulations/crazyflie-demo-simulation/LICENSE
simulations/crazyflie-demo-simulation/packages.png
simulations/crazyflie-demo-simulation/README.md
simulations/crazyflie-demo-simulation/setup.py
simulations/crazyflie-demo-simulation/assignments/aer1216_fall2020_hw1_ctrl.py
simulations/crazyflie-demo-simulation/assignments/aer1216_fall2020_hw1_sim.py
simulations/crazyflie-demo-simulation/assignments/aer1216_fall2020_hw2_ctrl.py
simulations/crazyflie-demo-simulation/assignments/aer1216_fall2020_hw2_sim.py
simulations/crazyflie-demo-simulation/assignments/README.md
simulations/crazyflie-demo-simulation/examples/compare.py
simulations/crazyflie-demo-simulation/examples/demo.py
simulations/crazyflie-demo-simulation/examples/downwash.py
simulations/crazyflie-demo-simulation/examples/fly.py
simulations/crazyflie-demo-simulation/examples/learn.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/control/RBFControl.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/control/SimplePIDControl.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/envs/__init__.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/envs/BaseAviary.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/envs/CtrlAviary.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/envs/DynAviary.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/envs/VisionAviary.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/envs/multi_agent_rl/__init__.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/envs/multi_agent_rl/BaseMultiagentAviary.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/envs/multi_agent_rl/FlockAviary.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/envs/multi_agent_rl/LeaderFollowerAviary.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/envs/multi_agent_rl/MeetupAviary.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/envs/single_agent_rl/__init__.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/envs/single_agent_rl/BaseSingleAgentAviary.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/envs/single_agent_rl/FlyThruGateAviary.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/envs/single_agent_rl/HoverAviary.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/envs/single_agent_rl/TakeoffAviary.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/utils/__init__.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/utils/Logger.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/utils/utils.py
simulations/crazyflie-demo-simulation/ros2/ros2_and_pkg_setups.bash
simulations/crazyflie-demo-simulation/ros2/ros2_and_pkg_setups.zsh
simulations/crazyflie-demo-simulation/ros2/src/ros2_gym_pybullet_drones/package.xml
simulations/crazyflie-demo-simulation/ros2/src/ros2_gym_pybullet_drones/setup.cfg
simulations/crazyflie-demo-simulation/ros2/src/ros2_gym_pybullet_drones/setup.py
simulations/crazyflie-demo-simulation/ros2/src/ros2_gym_pybullet_drones/resource/ros2_gym_pybullet_drones
simulations/crazyflie-demo-simulation/ros2/src/ros2_gym_pybullet_drones/ros2_gym_pybullet_drones/__init__.py
simulations/crazyflie-demo-simulation/ros2/src/ros2_gym_pybullet_drones/ros2_gym_pybullet_drones/aviary_wrapper.py
simulations/crazyflie-demo-simulation/ros2/src/ros2_gym_pybullet_drones/ros2_gym_pybullet_drones/random_control.py
simulations/crazyflie-demo-simulation/ros2/src/ros2_gym_pybullet_drones/test/test_copyright.py
simulations/crazyflie-demo-simulation/ros2/src/ros2_gym_pybullet_drones/test/test_flake8.py
simulations/crazyflie-demo-simulation/ros2/src/ros2_gym_pybullet_drones/test/test_pep257.py
simulations/crazyflie-demo-simulation/examples/physics.py
simulations/crazyflie-demo-simulation/examples/quat.py
simulations/crazyflie-demo-simulation/experiments/learning/multiagent.py
simulations/crazyflie-demo-simulation/experiments/learning/sa_script.bash
simulations/crazyflie-demo-simulation/experiments/learning/sa_script.slrm
simulations/crazyflie-demo-simulation/experiments/learning/shared_constants.py
simulations/crazyflie-demo-simulation/experiments/learning/singleagent.py
simulations/crazyflie-demo-simulation/experiments/learning/test_multiagent.py
simulations/crazyflie-demo-simulation/experiments/learning/test_singleagent.py
simulations/crazyflie-demo-simulation/experiments/learning/results/foo.txt
simulations/crazyflie-demo-simulation/experiments/performance/parallelism.sh
simulations/crazyflie-demo-simulation/experiments/performance/script.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/__init__.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/assets/architrave.urdf
simulations/crazyflie-demo-simulation/gym_pybullet_drones/assets/cf2.dae
simulations/crazyflie-demo-simulation/gym_pybullet_drones/assets/cf2p.urdf
simulations/crazyflie-demo-simulation/gym_pybullet_drones/assets/cf2x.urdf
simulations/crazyflie-demo-simulation/gym_pybullet_drones/assets/hb.urdf
simulations/crazyflie-demo-simulation/gym_pybullet_drones/assets/quad.obj
simulations/crazyflie-demo-simulation/gym_pybullet_drones/control/__init__.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/control/BaseControl.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/control/DSLPIDControl.py
simulations/crazyflie-demo-simulation/gym_pybullet_drones/control/MellingerControl.py
